.entry {
	background-color: #090909;
}

@media screen and (min-width: 1236px) {
	.entry {
		display: grid;
		grid-template-columns: 1fr 350px;
		grid-template-rows: max-content auto;
	}
}

@media screen and (min-width: 1280px) {
	.entry {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
}

//////////////////////// Header ////////////////////////

.entry_header {
	padding: 12px 16px 9px;
	background: linear-gradient(145deg, #0044ff, #0000ff);
}

.entry_header_breadcrumb {
	line-height: 37px;
}

.entry_header_title {
	font-size: 40px;
	margin: 0;
	line-height: 50px;
	padding-bottom: 36px;
	box-sizing: border-box;
	border-bottom: /*#585858*/ #aaaaaa 3px solid;
}

.entry_header_meta {
	margin: 7px 0 0;
	line-height: 32px;
}

@media screen and (min-width: 720px) {
	.entry_header {
		padding: 12px 50px 9px;
	}
}

@media screen and (min-width: 1236px) {
	.entry_header {
		grid-row: 1/ 2;
		grid-column: 1 / 3;
	}
}

@media screen and (min-width: 1536px) {
	.entry_header_title {
		min-height: 139px;
	}
}

//////////////////////// Ref ////////////////////////

.entry_ref {
	background: #121212;
	border-bottom: #373737 4px solid;
}

.entry_ref {
	padding: 4px 12px;
}

.entry_ref_lists {
	padding-bottom: 24px
}

.entry_ref_Section_header {
	padding: 0 0 .3em .2em;
	border-bottom: 3px solid #787877;
	margin: 16px 0;
}

.entry_ref_lists_List_title {
	padding-left: 12px;
	margin-bottom: 4px;
	font-weight: bold;
}

.entry_ref_lists_List_list, {
	margin: 0 0 16px;
}

.entry_ref_lists_List_list_Item_link, .entry_ref_toc_list_Item_link, .entry_ref_toc_list_Item_list_Item_link {
	color: white;
	text-decoration: none;
}


@media screen and (min-width: 720px) {
	.entry_ref {
		padding: 4px 38px;
	}
}

@media screen and (min-width: 1236px) {
	.entry_ref {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
		padding: 8px 0;
		border-bottom: none;
		border-left: #373737 4px solid;
	}

	.entry_ref_lists {
		padding: 8px 18px 24px;
		border-bottom: 2px #373737 solid;
	}

	.entry_ref_Section_header {
		border: none;
		padding: 0;
	}

	.entry_ref_toc {
		padding: 8px 18px;
		max-height: 100vh;
		overflow-y: auto;
		position: sticky;
		top: 0;
	}

	.entry_ref_toc_list, .entry_ref_toc_list_Item_list {
		padding-left: 32px;
	}
}

//////////////////////// Article ////////////////////////

.entry_article {
	padding: 24px 12px;
}

@media screen and (min-width: 720px) {
	.entry_article {
		padding: 32px 38px;
	}
}

@media screen and (min-width: 1236px) {
	.entry_article {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		padding: 40px 38px;
	}
}

.entry_article {

	overflow: hidden;
	font-size: 16px;

	*:first-child {
		margin-top: 0
	}

	a {
		color: #00b0ff ;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	img {
		max-width: 100%;
		margin: 24px 0;
	}

	p, ul, ol, pre, blockquote {
		margin: 0 0 24px;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 70px 0 12px;
		line-height: 1.25;
	}
	h1, h2 {
		padding: 0 0 .3em .2em;
		border-bottom: 3px solid #787877;
	}
	h1 { font-size: 32px; }
	h2 { font-size: 24px; }
	h3 { font-size: 20px; }
	h4 { font-size: 16px; }
	h5 { font-size: 14px; }
	h6 { font-size: 12px; }

	code {
		font-family: monospace;
		background-color: #383838;
		padding: 0 4px;
	}
	pre {
		font-size: 15.6px;
		line-height: 1.7;
		overflow: auto;
		padding: 6px 8px;
		code {
			padding: 0;
		}
	}

	blockquote {
		padding: 8px 16px;
		border-left: .25em solid #787878;
		*:first-child {
			margin-top: 0;
		}
		*:last-child {
			margin-bottom: 0;
		}
	}

}

//////////////////////// Prevnext ////////////////////////

//@media screen and (min-width: 1056px) {
//	#main_entry-prevnext {
//		grid-row: 3 / 4;
//		grid-column: 1 / 3;
//		padding: 20px;//
//		margin: 0;//
//		//border-top: #373737 4px solid;//
//	}
//}
//
