/////////////////////////////////////////////////////////
// Original                                            //
// https://github.com/andy-piccalilli/modern-css-reset //
/////////////////////////////////////////////////////////

/* Remove default margin */
/*h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}*/

/* Set core body defaults */
//body {
  /* text-rendering: optimizeSpeed; */
//}

/* Make images easier to work with */
/*
img,
picture {
  max-width: 100%;
  display: block;
}*/

/* Inherit fonts for inputs and buttons */
/*
input,
button,
textarea,
select {
  font: inherit;
}*/

/* Remove all animations and transitions for people that prefer not to see them */
/*
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}*/

