* {
	box-sizing: border-box;
}

/*figure, figcaption,
dl,dd,*/
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
blockquote {
	margin: 0;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

h1, h2, h3, h4, h5, h6, strong {
	color: white;
}

ul, ol {
	padding-left: 40px;
}

a {
	color: #00b0ff ;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

code {
	font-family: "Source Code Pro", "Monaco", "Consolas", monospace;
	background-color: #1e1e1e;
	padding: 0 4px;
	//font-feature-settings: "palt" 0;
}

pre {
	line-height: 1.5;
	overflow: auto;
	padding: 6px 8px;
	code {
		padding: 0;
	}
}

blockquote {
	padding: 8px 16px;
	border-left: .25em solid #787878;
	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}


/* Remove all animations and transitions for people that prefer not to see them */
/* 見たくない人用に、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

html {
	//background-color: #404040;
	background: #060606;//linear-gradient(0deg, #0d0d0d, #0d0d0d);
}

body {
	font-family: "Helvetica Neue", "Arial", "Noto Sans CJK JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "BIZ UDPGothic", Meiryo, sans-serif;
	font-size: 17px;
	font-feature-settings: "palt" 1;
	//letter-spacing:.015em;
	color: #ececec;
	max-width: 886px;
	line-height: 1.9;
	margin: 0 auto;
	box-shadow: 0 0 100px 100px #101010, 0 0 1px 1px #fff;
	border-left: #303030 1px solid;
	border-right: #303030 1px solid;
	//scroll-behavior: smooth;
	//text-rendering: optimizeSpeed;
}

@media screen and (min-width: 1236px) {
	body {
		max-width: 1236px;
	}
}

@media screen and (min-width: 1536px) {
	body {
		display: grid;
		grid-template-columns: 314px 1fr;
		grid-template-rows: 40px max-content 100px;
		max-width: 1536px;
	}
}

@import "_base_header.scss";

.base_breadcrumb {
	border-bottom: #303030 1px solid;
	padding: 5px 20px;
	line-height: 30px;
}

.base_main {
	background: #0e0e0e;
}


@media screen and (min-width: 1536px) {
	.base_breadcrumb {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.base_main {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
}

@import "_base_footer.scss";

