@import "_mixin";

.entry {
	@include mq(md) {
		display: grid;
		grid-template-columns: 1fr 337px;
		grid-template-rows: max-content;
	}
}

//////////////////////// Article ////////////////////////


.entry_article {
	padding: 24px 12px;
	overflow: hidden;
}

@media screen and (min-width: 720px) {
	.entry_article {
		padding: 32px 38px;
	}
}

.entry_article {
	@include mq(sm) {
		padding: 32px 0;
		width: 810px;
		margin: 0 auto;
	}
	@include mq(md) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		padding: 40px 0;
		//padding: 40px 38px;
	}
}

.entry_article_header {
	text-align: center;
	margin-bottom: 70px;
}

.entry_article_header_title {
	font-size: 40px;
	line-height: 50px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: #aaaaaa 3px solid;
}

.entry_article {
	p, ul, ol, pre, blockquote, iframe {
		margin-bottom: 24px;
	}

	h2, h3, h4, h5, h6 {
		margin: 70px 0 16px;
		line-height: 1.25;
	}

	h2 {
		padding: 0 0 .3em .2em;
		border-bottom: 3px solid #787877;
	}

	/**:first-child {
		margin-top: 0;
	}+*/

	code {
		border: #303030 1px solid;
	}

	pre {
		border: #303030 1px solid;
		code {border: none}
	}

}

.katex-display { overflow: auto hidden }

//////////////////////// Ref ////////////////////////

.entry_ref {
	display: none;
}

//@media screen and (min-width: calc(1236px + 20px)) {
@include mq(md) {
	.entry_ref {
		display: block;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		padding: 8px 0;
		border-bottom: none;
		border-left: #303030 1px solid;
		//background: #0a0a0a;
	}

	.entry_ref_lists {
		padding: 8px 18px 24px;
		border-bottom: 2px #373737 solid;
	}

	.entry_ref_Section_header {
		border: none;
		padding: 0;
	}

	.entry_ref_Section_header {
		margin: 16px 0;
	}

	.entry_ref_lists_List_title {
		padding-left: 12px;
		margin-bottom: 4px;
		font-weight: bold;
	}

	.entry_ref_toc {
		padding: 8px 18px;
		max-height: 100vh;
		overflow-y: auto;
		position: sticky;
		top: 0;
	}

	.entry_ref_toc_list, .entry_ref_toc_list_Item_list {
		padding-left: 32px;
	}

	.entry_ref_lists_List_list_Item_link, .entry_ref_toc_list_Item_link, .entry_ref_toc_list_Item_list_Item_link {
		color: inherit;
	}
}

//img {
//	max-width: 100%;
//	margin: 24px 0;
//}

//////////////////////// Prevnext ////////////////////////

//@media screen and (min-width: 1056px) {
//	#main_entry-prevnext {
//		grid-row: 3 / 4;
//		grid-column: 1 / 3;
//		padding: 20px;//
//		margin: 0;//
//		//border-top: #373737 4px solid;//
//	}
//}
//
