.entries {
	overflow: hidden;
}

.entries_header {
	padding: 12px 16px;
	background: #171717;

	nav {
		line-height: 37px;
		border-bottom: /*#585858*/ #aaaaaa 3px solid;
		a {
			color: white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	h1 {
		padding: 25px 0 42px;
		margin: 0;
		text-align: center;
		font-size: 36px;
		line-height: 60px;
		span {
			border-bottom: 5px #0044ff solid;
			padding: 0 5px;
		}
	}
}

@media screen and (min-width: 720px) {
	.entries_header {
		padding: 12px 50px;
	}
}
@media screen and (min-width: 1236px) {
	.entries_header {
		h1 {
			font-size: 50px;
		}
	}
}

@media screen and (min-width: 1536px) {
	.entries_header {
		h1 {
			padding: 68px 38px 108px;
		}
	}
}

.entries_Article {
	background: #171717;
	border-left: 5px #0044ff solid;
	margin: 24px 12px;
	//max-width: 810px;
	a {
		display: block;
		padding: 32px 20px;
		color: white;
		text-decoration: none;
		&:hover {
			background: #363636;//linear-gradient(145deg, #0044ff, #0000ff);
		}
	}
}

@media screen and (min-width: 720px) {
	.entries_Article {
		margin: 32px 38px;
	}
}

@media screen and (min-width: 1236px) {
	.entries_Article {
		margin: 40px 38px;
	}
}
