.top {
	padding: 38px;

	article {
		a {
			color: orangered;
		}
	}
}

.top_header {
	margin: 0;
	background: linear-gradient(145deg, #ff4500, #ff0000);
	padding: 5px;
	text-align: center;
	font-size: 24px;
}

