.top {
	padding: 38px;
}

.top_header {
	margin: 0 0 40px;
	background: linear-gradient(145deg,  #00ff62, #00a2ff);
	color: #121212;
	padding: 5px;
	text-align: center;
	font-size: 24px;
}

@media (min-width: 1236px) {
	.top_header {
		font-size: 28px;
		padding: 6px 0;
	}
}
