{% import "_macros.html" as macros %}

{% for asset in page.assets         %}
{%     if asset is matching(src)    %}
{%         set_global image = asset %}
{%         break                    %}    
{%     endif                        %}
{% endfor                           %}

{% set meta = get_image_metadata(path=image) %}

<a href="{{src}}" target="_blank">
    <img
    sizes="(min-width: 924px) 832px, (min-width: 760px) calc(100vw - 92px), calc(100vw - 24px)"
    srcset="{{ macros::generate_srcset(src=image) }}"
    width="{{meta.width}}" height="{{meta.height}}" alt="{{alt}}"
    {% if nth <= 2 %}decoding="async"{% else %}loading="lazy"{% endif %}>
</a>
