{% macro base_header(now) %}
<header class="base_header">
	<h1 class="base_header_logo"><a class="base_header_logo_link" href="/">ihoronir.<br class="base_header_logo_break">github.io</a></h1>
	<nav class="base_header_nav">
		<ul class="base_header_nav_list">
			<li class="base_header_nav_list_Item base_header_nav_list_top">
				<a class="base_header_nav_list_Item_link base_header_nav_list_top_link{% if now == "top" %} base_header_nav_list_top_link-now{% endif %}" href="/">トップページ</a>
			</li>
			<li class="base_header_nav_list_Item base_header_nav_list_entry">
				<a class="base_header_nav_list_Item_link base_header_nav_list_entry_link{% if now == "entry" %} base_header_nav_list_entry_link-now{% endif %}" href="/entries/">ブログ記事</a>
			</li>
			<li class="base_header_nav_list_Item base_header_nav_list_game">
				<a class="base_header_nav_list_Item_link base_header_nav_list_game_link{% if now == "game" %} base_header_nav_list_game_link-now{% endif %}" href="/games/">ゲーム</a>
			</li>
			<li class="base_header_nav_list_Item base_header_nav_list_develop">
				<a class="base_header_nav_list_Item_link base_header_nav_list_develop_link{% if now == "develop" %} base_header_nav_list_develop_link-now{% endif %}" href="/develop/">開発</a>
			</li>
			<li class="base_header_nav_list_Item base_header_nav_list_music">
				<a class="base_header_nav_list_Item_link base_header_nav_list_music_link{% if now == "music" %} base_header_nav_list_music_link-now{% endif %}" href="/music/">音楽</a>
			</li>
			<li class="base_header_nav_list_Item base_header_nav_list_photo">
				<a class="base_header_nav_list_Item_link base_header_nav_list_photo_link{% if now == "photo" %} base_header_nav_list_photo_link-now{% endif %}" href="/photos/">写真</a>
			</li>
			<li class="base_header_nav_list_Item base_header_nav_list_profile">
				<a class="base_header_nav_list_Item_link base_header_nav_list_profile_link{% if now == "profile" %} base_header_nav_list_profile_link-now{% endif %}" href="/profile/">自己紹介</a>
			</li>
			<li class="base_header_nav_list_Item base_header_nav_list_about">
				<a class="base_header_nav_list_Item_link base_header_nav_list_about_link{% if now == "about" %} base_header_nav_list_about_link-now{% endif %}" href="/about/">このサイトについて</a>
			</li>
		</ul>
	</nav>
</header>
{% endmacro header %}
