<!DOCTYPE html>

{% block base_config %}
{% set base_config_now = "" %}
{% set base_config_title = "タイトル未設定" %}
{% set base_config_stylesheets = [] %}
{% endblock base_config %}

{% set base_config_stylesheets = ["/base.css"] | concat(with=base_config_stylesheets) %}

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{#<meta name="robots" content="noindex">#}

		<title>{{ base_config_title }} - ihoronir.github.io</title>
		<!--<meta name="description" content="">-->

		{% for stylesheet in base_config_stylesheets %}
		<link rel="stylesheet" href="{{ stylesheet | safe }}">
		{% endfor %}

		<link rel="icon" href="/favicon.png">
		<!--
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="alternate" href="/atom.xml" title="" type="application/atom+xml">
		-->

		<meta property="og:title" content="{{ base_config_title }}">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="ihoronir.github.io">
		<meta property="og:url" content="{{ current_url | safe }}">
		<meta property="og:image" content="{{ get_url(path = "/cover.jpg") }}">
		<meta property="og:locale" content="ja_JP">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@ihoronir">
		<!--
		<meta name="twitter:site" content="@ihoronir">
		<meta property="og:description" content="">
		-->
		{% if config.mode == "Build" %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-RZSDNPP2LL"></script>
		<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','G-RZSDNPP2LL')</script>
		{% endif %}
		{% if config.mode == "Serve" %}
		<script type="text/javascript">
			console.log({{ __tera_context }});
		</script>
		{% endif %}
	</head>
	<body>
		<header class="base_header">
			<h1 class="base_header_logo"><a class="base_header_logo_link" href="/">ihoronir.<br class="base_header_logo_break">github.io</a></h1>
			<nav class="base_header_nav">
				<ul class="base_header_nav_list">
					<li class="base_header_nav_list_Item base_header_nav_list_top">
						<a class="base_header_nav_list_Item_link base_header_nav_list_top_link
							{% if base_config_now == "top" %} base_header_nav_list_Item_link-now base_header_nav_list_top_link-now{% endif %}" href="/">トップページ</a>
					</li>
					<li class="base_header_nav_list_Item base_header_nav_list_entry">
						<a class="base_header_nav_list_Item_link base_header_nav_list_entry_link
							{% if base_config_now == "entry" %} base_header_nav_list_Item_link-now base_header_nav_list_entry_link-now{% endif %}" href="/entries/">ブログ記事</a>
					</li>
					<li class="base_header_nav_list_Item base_header_nav_list_game">
						<a class="base_header_nav_list_Item_link base_header_nav_list_game_link
							{% if base_config_now == "game" %} base_header_nav_list_Item_link-now base_header_nav_list_game_link-now{% endif %}" href="/games/">ゲーム</a>
					</li>
					<li class="base_header_nav_list_Item base_header_nav_list_develop">
						<a class="base_header_nav_list_Item_link base_header_nav_list_develop_link
							{% if base_config_now == "develop" %} base_header_nav_list_Item_link-now base_header_nav_list_develop_link-now{% endif %}" href="/develop/">開発</a>
					</li>
					<li class="base_header_nav_list_Item base_header_nav_list_music">
						<a class="base_header_nav_list_Item_link base_header_nav_list_music_link
							{% if base_config_now == "music" %} base_header_nav_list_Item_link-now base_header_nav_list_music_link-now{% endif %}" href="/music/">音楽</a>
					</li>
					<li class="base_header_nav_list_Item base_header_nav_list_photo">
						<a class="base_header_nav_list_Item_link base_header_nav_list_photo_link
							{% if base_config_now == "photo" %} base_header_nav_list_Item_link-now base_header_nav_list_photo_link-now{% endif %}" href="/photos/">写真</a>
					</li>
					<li class="base_header_nav_list_Item base_header_nav_list_profile">
						<a class="base_header_nav_list_Item_link base_header_nav_list_profile_link
							{% if base_config_now == "profile" %} base_header_nav_list_Item_link-now base_header_nav_list_profile_link-now{% endif %}" href="/profile/">自己紹介</a>
					</li>
					<li class="base_header_nav_list_Item base_header_nav_list_about">
						<a class="base_header_nav_list_Item_link base_header_nav_list_about_link
							{% if base_config_now == "about" %} base_header_nav_list_Item_link-now base_header_nav_list_about_link-now{% endif %}" href="/about/">このサイトについて</a>
					</li>
				</ul>
			</nav>
			<aside class="base_header_ad_1" style="text-align: center;font-weight: bold">広告 Advertisement
				<div style="background: #333; width:300px; height:600px; margin: auto; padding: 40px 0; font-size: 32px; color: #777;">広告募集中</div>
			</aside>
			{#
			<aside class="base_header_ad_2" style="text-align: center;font-weight: bold">広告 Advertisement
				<div style="background: #333; width:160px; height:600px; margin: auto; padding: 40px 0; font-size: 32px; color: #777;">広告募集中</div>
			</aside>
			#}
		</header>

		<nav class="base_breadcrumb">現在地：
			{% set page_or_section = page | default(value = section) %}
			{% for ancestor_path in page_or_section.ancestors %}
			{% set section = get_section(path = ancestor_path) %}
			<a href="{{section.path}}">{{ section.title }}</a> / 
			{% endfor %}
			<a href="{{page_or_section.path}}">{{ page_or_section.title }}</a>
		</nav>

		{% block base_main %}{% endblock %}

		<footer class="base_footer"><small class="footer_copyrights">Copyrights © Ihoronir All Rights Reserved.</small></footer>
	</body>
</html>

