<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex">
		<link rel="stylesheet" href="/base.css">
		{% block style %}{% endblock %}
		<title>{% block title %}タイトル未設定{% endblock %} - ihoronir.github.io</title>
	</head>
	<body>
		{% block header %}{% endblock %}
		{% block main %}{% endblock %}
		<footer class="base_footer"><small class="footer_copyrights">Copyrights © Ihoronir All Rights Reserved.</small></footer>
	</body>
</html>

