<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyBlog</title>
</head>

<body>
  <header>
    <h1>Logo</h1>
    <nav>
      <ul>
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
      </ul>
    </nav>
  </header>

  <aside>
    Advertisement
  </aside>

  <main>
    {% block content %} {% endblock %}
  </main>

  <aside>
    Advertisement
  </aside>

  <footer>
    Footer
  </footer>
</body>

</html>
