{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block main %}
<main id="entry">
	<header id="entry_header">
		<nav id="entry_header_breadcrumb">現在地：トップ > ブログ記事 ></nav>
		<h1 id="entry_header_title">{{ page.title }}</h1>
		<p id="entry_header_meta">
		この記事の公開日：{{page.date}}<br>
		この記事の最終編集日：{{page.updated}}<br>
		この記事のURL：{{page.permalink}}
		</p>
	</header>
	<aside id="entry_ref">
		<section id="entry_ref_lists">
			<h2 id="entry_ref_lists_header">関連記事リスト</h2>
			{# loop #}
			<details class="entry_ref_lists_list">
				<summary class="entry_ref_lists_list_title">ArchLinux 2021 (2)</summary>
				<ul class="entry_ref_lists_list_list">
					<li class="entry_ref_lists_list_list_item">
						<a class="entry_ref_lists_list_list_item_link" href="#">voanwoia vwnarbvn;abn naioer</a>
					</li>
					<li class="entry_ref_lists_list_list_item">
						<a class="entry_ref_lists_list_list_item_link" href="#">voanwoia vwnarbvn;abn naioer</a>
					</li>
				</ul>
			</details>
			<details class="entry_ref_lists_list">
				<summary class="entry_ref_lists_list_title">ArchLinux 2021 (2)</summary>
				<ul class="entry_ref_lists_list_list">
					<li class="entry_ref_lists_list_list_item">
						<a class="entry_ref_lists_list_list_item_link" href="#">voanwoia vwnarbvn;abn naioer</a>
					</li>
					<li class="entry_ref_lists_list_list_item">
						<a class="entry_ref_lists_list_list_item_link" href="#">voanwoia vwnarbvn;abn naioer</a>
					</li>
				</ul>
			</details>
			{# /loop #}
		</section>
		<section id="entry_ref_toc">
			<h2 id="entry_ref_toc_header">目次</h2>
			<ul id="entry_ref_toc_list">
				{% for h1 in page.toc %}
				<li class="entry_ref_toc_list_item">
					<a class="entry_ref_toc_list_item_link" href="{{h1.permalink | safe}}">{{ h1.title }}</a>
					{% if h1.children %}
					<ul class="entry_ref_toc_list_item_list">
						{% for h2 in h1.children %}
						<li class="entry_ref_toc_list_item_list_item">
							<a class="entry_ref_toc_list_item_list_item_link" href="{{h2.permalink | safe}}">{{ h2.title }}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</section>
	</aside>
	<article id="entry_article">
		{{ page.content | safe }}
	</article>
	{#
	<div id="entry_prevnext">
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
	</div>
	#}
</main>
{% endblock main %}
