{% import "_base_macros.html" as base_macros %}
{% extends "_base.html" %}

{% block style %}<link rel="stylesheet" href="/entry.css">{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block header %}{{ base_macros::base_header(now="entry") }}{% endblock %}

{% block main %}
<main class="base_main entry">
	<header class="entry_header">
		<nav class="entry_header_breadcrumb">現在地：トップ > ブログ記事 ></nav>
		<h1 class="entry_header_title">{{ page.title }}</h1>
		<p class="entry_header_meta">
		この記事の公開日：{{page.date}}<br>
		この記事の最終編集日：{{page.updated}}<br>
		この記事のURL：{{page.permalink}}
		</p>
	</header>
	<aside class="entry_ref">
		<section class="entry_ref_lists">
			<h2 class="entry_ref_Section_header">関連記事リスト</h2>
			{# loop #}
			<details class="entry_ref_lists_List">
				<summary class="entry_ref_lists_List_title">ArchLinux 2021 (2)</summary>
				<ul class="entry_ref_lists_List_list">
					<li class="entry_ref_lists_List_list_item">
						<a class="entry_ref_lists_List_list_Item_link" href="#">voanwoia vwnarbvn;abn naioer</a>
					</li>
					<li class="entry_ref_lists_List_list_item">
						<a class="entry_ref_lists_List_list_Item_link" href="#">voanwoia vwnarbvn;abn naioer</a>
					</li>
				</ul>
			</details>
			<details class="entry_ref_lists_List">
				<summary class="entry_ref_lists_List_title">ArchLinux 2021 (2)</summary>
				<ul class="entry_ref_lists_List_list">
					<li class="entry_ref_lists_List_list_item">
						<a class="entry_ref_lists_List_list_Item_link" href="#">voanwoia vwnarbvn;abn naioer</a>
					</li>
					<li class="entry_ref_lists_List_list_item">
						<a class="entry_ref_lists_List_list_Item_link" href="#">voanwoia vwnarbvn;abn naioer</a>
					</li>
				</ul>
			</details>
			{# /loop #}
		</section>
		<section class="entry_ref_toc">
			<h2 class="entry_ref_Section_header">目次</h2>
			<ul class="entry_ref_toc_list">
				{%- for h1 in page.toc %}
				<li class="entry_ref_toc_list_Item">
					<a class="entry_ref_toc_list_Item_link" href="{{h1.permalink | safe}}">{{ h1.title }}</a>
					{%- if h1.children %}
					<ul class="entry_ref_toc_list_Item_list">
						{%- for h2 in h1.children %}
						<li class="entry_ref_toc_list_Item_list_Item">
							<a class="entry_ref_toc_list_Item_list_Item_link" href="{{h2.permalink | safe}}">{{ h2.title }}</a>
						</li>
						{%- endfor %}
					</ul>
					{%- endif %}
				</li>
				{%- endfor %}
			</ul>
		</section>
	</aside>
	<article class="entry_article">
		{{- page.content | safe}}
	</article>
	{#
	<div class="entry_prevnext">
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
		Dummy Text<br>
	</div>
	#}
</main>
{% endblock main %}
