{% extends "_base.html" %}

{% block base_config %}
{% set base_config_now = "entry" %}
{% set base_config_title = section.title %}
{% set base_config_stylesheets = ["/entries.css"] %}
{% endblock base_config %}

{% block base_main %}
<main class="base_main entries">
	<header class="entries_header">
		<h1 class="entries_header_title"><span>{{ section.title }}</span></h1>
	</header>
	<section class="entries_articles">
		{#
		<article style="grid-column-end: span 2;" class="entries_articles_Article">
			<h2 class="entries_articles_Article_title"><a class="entries_articles_Article_title_link" href="{{ section.pages[3].path | safe }}">{{ section.pages[3].title }}</a></h2>
			<p>{{section.pages[3].description}}<br>
				(Date: {{ section.pages[3].date }})</p>
		</article>

		<article class="entries_articles_Article">
			<h2 class="entries_articles_Article_title"><a class="entries_articles_Article_title_link" href="{{ section.pages[4].path | safe }}">{{ section.pages[4].title }}</a></h2>
			<p>{{section.pages[4].description}}<br>
				(Date: {{ section.pages[4].date }})</p>
		</article>
		#}

		{% for page in section.pages %}
		<article class="entries_articles_Article">
			<h2 class="entries_articles_Article_title"><a class="entries_articles_Article_title_link" href="{{ page.path | safe }}">{{ page.title }}</a></h2>
			<p>{{page.description}}<br>
				(Date: {{ page.date }})</p>
		</article>
		{% endfor %}

	</section>
</main>
{% endblock base_main %}

