{% extends "_base.html" %}

{% block base_config %}
{% set base_config_now = "entry" %}
{% set base_config_title = section.title %}
{% set base_config_stylesheets = ["/entries.css"] %}
{% endblock base_config %}

{% block base_main %}
<main class="base_main entries">
	<header class="entries_header">
		<nav class="entries_header_breadcrumb">現在地：<a class="entries_header_breadcrumb_Link" href="/">トップ</a> > </nav>
		<h1 class="entries_header_title"><span>{{ section.title }}</span></h1>
	</header>
	{% for page in section.pages %}
	<article class="entries_Article">
		<h1><a href="{{ page.path | safe }}">{{ page.date }} - {{ page.title }}</a></h1>
	</article>
	{% endfor %}
</main>
{% endblock base_main %}

