{% extends "_base.html" %}

{% block base_config                         %}
{%     set base_config_now         = "photo" %}
{%     set base_config_stylesheets = []      %}
{% endblock base_config %}

{% block base_main %}
<style>
.base_main {
	padding: 24px 12px;
}

@media (min-width: 760px) {
	.base_main {
		padding: 32px 46px;
	}
}

@media (min-width: 1245px) {
	.base_main {
		padding: 40px 46px;
	}
}
</style>
<main class="base_main">
	{{ page.content | safe }}
	{% for asset in page.assets %}
	{%     if asset is matching("[.](jpg|JPG|png)$") %}
	{%         set image = resize_image(path=asset, width=240, height=180) %}
	<a href="{{ get_url(path=asset) }}" target="_blank"><img src="{{ image.url }}" /></a>
	{% endif %}
	{% endfor %}
</main>
{% endblock base_main %}

